// Place all the styles related to the Processors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.sidebar {
  width: 25%;
  background-color: blue;
}

.content-area {
  width: 75%;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 25%;
}